.no-svg .play {
	background: url("/assets/images/icons/play_50x50.png") no-repeat 50%;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
.no-touch .play {
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
}
.play-wrap {
	height: 82%;
	left: 1%;
	position: absolute;
	top: 2%;
	width: 57%;
}
.no-touch .play-wrap:hover .play {
	opacity: 1;
	-ms-filter: none;
	filter: none
}
.video-popup {
	cursor: pointer;
	height: 256px;
	width: 376px;
	display: block
}
.video-backdrop {
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.7);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99999
}
.video-popup-container {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 180px;
	max-width: 100%;
	width: 100%;
	margin-left: -400px;
	width: 640px;
	height: 360px;
	margin-top: -225px
}
.video-container iframe {
	position: relative;
	z-index: 3
}
.video-popup-close {
	background: transparent url(../images/button_close.png) no-repeat top center;
	-webkit-background-size: 44px;
	-moz-background-size: 44px;
	background-size: 44px;
	cursor: pointer;
	height: 44px;
	position: absolute;
	opacity: .4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	right: 0;
	top: -44px;
	width: 44px;
	z-index: 2;
	right: -44px;
}
.video-popup-close:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	background-image: url(../images/button_close_hover.png);
}
.massage {
	width: 640px;
	height: 44px;
	position: absolute;
	top: -44px;
	background-color: #F5F5F5;
	line-height: 44px;
	font-size: 18px;
	padding-left: 44px;
	border-bottom: #000000 2px solid
}