.organization_details_bg {
	width: 100%;
	height: 400px;
	background:url(../images/organization_details_bg.jpg) no-repeat;
	background-position: center center;
}
.organization_details_bg_main{
	width: 982px;
	height: 400px;
	margin: 0 auto;	
}
.organization_details_info{ position: relative; width: 100%;height: 270px;top: 60px;}
.organization_details_info_left {
	width:240px; float:left;
}
.organization_details_info_left img{border:1px solid #cdcccf}
.organization_details_info_center {
		width:400px; margin-left: 20px;  float:left;
}
.organization_details_info_center h1{font-size:32px; color:#Fff;font-weight:400;}
.organization_details_info_center p{font-size:14px; color:#Fff; margin-top: 5px; padding-right: 20px;}
.organization_details_info_right {
		width:301px;  float:left; border-left:1px dashed #fff;
}

.organization_details_slide-menu {
	z-index: 1;
	position: absolute;
	top:60px;
	width: 170px;
	height: 38px;
	background-color: #66cc33;
	border-bottom: solid #0e0c0c 1px;
}
.organization_details_slide-menu span{
	font-size: 15px;
	color: #fff;
	line-height: 38px;
	margin-left: 50px;}
.organization_details_slide-course-pic {
	position: relative;
	left: 681px;
	_left:786px;
	top: 80px;
	height: 50px;
	width: 300px;
	background-color: #4d4d4d;
	color: #fff;
	font-size: 17px;
	line-height: 50px;
}
.organization_details_slide-course-pic span {
	font-size: 30px;
	line-height: 50px;
	margin-left: 40px;
	margin-right: 47px;
}
.organization_status {
	width: 102px; height: 12px; line-height: 12px; color:#fff; float: left; margin-top: 14px;
}
.organization_status_span1{padding-left:18px; text-align: center;background: url(../images/icon-collect-while.png) no-repeat 0px 2.5px;  line-height: 12px; }
.organization_status_span2{ margin-left:5px; padding-left:22px; background: url(../images/icon-collect-while.png) no-repeat -40px 3px;  line-height: 12px; }
.organization_appraise {
	height: 12px; line-height: 12px; color:#fff; float: right;margin-top: 14px;
}
.organization_appraise img{border: none;}
.organization_appraise li{float: left; margin-left: 3px;}
.organization_appraise i{font-style: normal;}

.organization_guild {
	width: 282px; height: 235px; margin-left: 20px;
}

.organization_guild_top {
	height: 80px;
}

.organization_Icon {
	width: 80px; height: 80px; border-radius: 80px; border:2px solid #cdcccf; line-height: 80px; text-align: center;float: left;
}

.organization_gender {
	width: 20px; height: 20px;position:relative; top:-60px; border-radius:20px; background: #e5e5e5; color:#4778b2; text-align: center; line-height: 20px;
}

.organization_intro {
	float: left;width: 160px; margin-left: 20px;
}
.organization_intro p{font-size:12px; color: #fff; margin-top:15px; line-height: 12px;}
.organization_intro h3{font-size:16px; color:#fff; font-weight: 400; line-height: 23px;}

.data-Icon {
	padding-right: 5px;
}

.data-Icon2 {
	padding-right: 5px; padding-left: 10px;
}

.organization_guildMiddle {
	height: 100px; margin-top: 35px; font-size: 12px; color:#fff;
}

.organization_guildBottom {
	font-size: 12px; color:#fff;
}

.organization_reserveTop {
	width: 235px; height: 120px; margin:0 auto;
}
.course-details-policy{
	float: left;
	font-size: 16px;
	color: #ea6d65;
	vertical-align: middle;
	margin: 15px 0;
	_width:234px;
}
.reserveTop_p {
	font-size:14px; margin-top:20px;color:#4d4d4d;
}

.reserveSpan {
	display: inline-block;font-size:21px;width: 120px; text-align: right;
}
.course-book-red {
	float: left;
	width: 300px;
	height: 50px;
	background-color: #ea6f65;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 18px;
	margin-bottom: 20px;
}
.organization_share {
	width: 272px; height: 50px; display: inline-block; margin-left:10px; padding-top: 15px;
}
.shareSpan{display:block; height: 23px; line-height: 18px; color:#ea6f65; margin-left: 5px; float:right;}
.organization_share li{float:left; margin-left:20px;}


.organization_time {
	width: 240px; margin: 0 auto; 
}

.organization_timeSpan {
	display:block;height: 20px; line-height: 20px; float: left; margin-left: 12px; color: #808285;
}

.data-oranization_timeImg {
	width: 20px; display: block;float: left;  margin-left: 5px;
}

.organization_timeTable {
	height: 210px;
	width: 240px;
	margin-top: 20px;
	background-color: #fff;
}
.organization_timeTable td {
	text-align: center;
}
.organization_timeTable th{color:#808285; }
.organization_timeTable_green{background: url(../images/lessons-time-green-bg.png) no-repeat center center; color: #fff;}
.organization_timeTable_green2{color: #66cc33;}
.organization_scope {
	height: 300px; width: 235px; margin: 0 auto;
}
.organization_scope  p{font-size:12px; color:#808285; line-height: 30px;}

.organization_map {
	width: 250px; height: 160px;  margin-top: 10px; background: #cbcbcb; text-align: center; line-height: 160px;  color:#fff;
}

.details_titile {
	height: 50px; margin-top: 20px;
}
.details_titile ul{height: 50px;}
.details_titile ul li{width: 190px; height: 50px; float: left; margin-left: 2px; background-color: #c9c9ca; font-size: 16px; line-height: 50px; padding-left: 20px; color:#fff;}
.details_titileLiWhite{color:#58595d; background: #fff;}

.details_box1 {
	width: 100%; height: 125px; margin-top: 25px; color:#808285;
}
.details_box1 p{
	margin-top: 15px; letter-spacing: 0.8px; line-height: 18px;
}

.details_more {
	width: 100%; text-align: right;font-size: 12px; color:#58595b;
}

.details_boxP {
	margin-top: 40px;
}
.details_boxP3 {
}

.details_boxP2{
	 display: inline-block;margin-top: 40px; height: 90px; line-height: 20px; letter-spacing: 1px;
}

.details_box_P1 {
	color:#808285; margin-right:15px;
}

.details_box_P2 {
	font-size:12px;color: #58595b; 
}
/*课程介绍 轮播*/
.friend{height:180px;margin:0 auto;overflow:hidden;width:627px;}
.mr_frbox{height:407px;padding:24px 0px 0px;}
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:46px;margin:60px 10px 0 0;width:28px;}
.mr_frUl{float:left;height:202px;width:520px;margin-left:10px;}
.mr_frBtnR{float:right;margin-top:60px;cursor:pointer;width:28px;height:46px;}
.mr_frUl ul li{display:inline;float:left;/*height:389px;*/ margin-right:20px;width:250px;overflow:hidden;position:relative;}
.mr_frUl ul li a img{/*display:block;*/width:100%;}


.details_boxP4 {
	display: inline-block;margin-top: 60px;
}
.details_boxP5 {
	display: inline-block;margin-top: 60px;line-height: 20px; letter-spacing: 1px;
}

.details_boxP6 {
	display: inline-block;margin-top: 10px;line-height: 20px; letter-spacing: 1px;
}
.details_boxP7 {
	display: inline-block;margin-top: 10px;line-height: 20px; letter-spacing: 1px;
}
.details_boxP8 {
	display: inline-block;margin-top: 10px;line-height: 20px; letter-spacing: 1px;
}

.organization_compile {
	width: 100%; text-align: left; height: 130px;
}

.organization_compileBtn {
	width: 120px; float: right; height: 40px; background:#ea6f65; text-align: center; line-height: 40px; color:#fff; font-size:14px; margin-top: 50px;font-family: "Microsoft YaHei";
}
.evaluate_Icon {
	width: 100px;
	float: left;
	height: 90px;
	margin-top: 30px;
}

.evaluate_Icon span {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: #ccc;
	margin-left: 20px;
}
.evaluate_minute2 {
	width: 642px;
	display: inline-block;
}

.evaluate_text {
	width:542px;
	float: left;
	margin-top: 30px;
	display: inline-block;
}
.evaluate_time {
	font-size: 12px;
	height: 25px;
	
}
.eveluate_textTitle {
	height: 30px;  font-size: 14px; color: #58595b;border-bottom: 1px solid #cbcbcb;
}

.eveluate_p {
	margin-top: 10px;
}

.eveluate_star {
	width: 480px; height: 140px;  margin-top: 30px; display: inline-block;
}

.eveluate_stat_table {
	width: 480px; 
}
.eveluate_stat_table tr{height: 30px;}

.eveluate_stat_title {
	font-size: 14px;font-family: "Microsoft YaHei"; font-weight: 100;
}
.eveluate_stat_title i{color:#ea6f65; font-style: normal;}
.eveluate_stat_table ul li{float: left; width: 10px; margin-left: 15px;}
.eveluate_stat_table ul li:first-child{margin-left: 0px;}
