/*王雯洁*/
/*帮助下拉列表*/
#help-box {
	text-align: center;
	cursor: pointer;
}
#box-help-ul {
	width: 130px;
	height: 220px;
	display: none;
	border: 1px solid #e6e6e7;
	position: absolute;
	z-index: 999999;
	margin-left: -50px;
	margin-top: 19px;
	background-color: #fff;
}
.box-help-out li {
	width: 115px;
	height: 29px;
	line-height: 28px;
	cursor: pointer;
	list-style: none;
	font-size: 12px;
	padding-left: 15px;
}
.box-help-out span {
	width: 100px;
	margin: 0 15px;
	height: 29px;
	border-top: 1px #ccc dashed;
	display: block;
}
.box-help-out1 {
	float: left;
	margin-left: 10px;
	margin-right: 15px;
}
.noborder span {
	border: none;
}
.help-text {
	position: relative;
}
/*帮助下拉列表*/
/*弹出层*/
#login-content a, #register-content a {
	color: #666;
}
#bg-login, #bg-register {
	position: absolute;
	z-index: 999;
	background-color: #666;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#login-alert, #register-alert {
	width: 100%;
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 30%;
	display: none;
}
.login-hole, .register-hole {
	width: 980px;
	height: 292px;
	margin: 0 auto;
	background-color: #666;
}
/*登录*/
.login-title, .register-title {
	width: 980px;
	height: 60px;
	background-color: #ea6d65;
	font-size: 15px;
	color: #fff;
	line-height: 60px;
	text-align: center;
}
.login-content {
	width: 980px;
	height: 232px;
	background-color: #f2f2f2;
	margin: 0 auto;
}
.login-content-add {
	width: 610px;
	height: 40px;
	padding-top: 20px;
	margin: 0 auto;
}
.login-content-add-input1, .login-content-add-input2 {
	width: 178px;
	height: 40px;
	border: 1px solid #e6e6e7;
	padding-left: 20px;
	line-height: 60px;
	font-size: 12px;
	color: #808285;
	float: left;
	margin-right: 10px;
}
.login-content-add-input3 {
	width: 78px;
	height: 40px;
	padding-left: 20px;
	font-size: 12px;
	color: #808285;
	line-height: 60px;
	float: left;
}
.login-content-add-input4 {
	height: 40px;
	width: 78px;
	font-size: 20px;
	line-height: 40px;
	color: #808285;
	text-align: center;
	background-color: #e6e6e7;
	float: left;
}
.login-content-tip {
	width: 610px;
	margin: 0 auto;
	padding-top: 10px;
}
.login-content-tip-p1, .login-content-tip-p2, .login-content-tip-p3 {
	font-size: 12px;
	color: #808285;
	text-decoration: underline;
	float: left;
}
.login-content-tip-p1 {
	margin-right: 154px;
}
.login-content-tip-p2 {
	margin-right: 244px;
}
.login-content-div-tip {
	width: 610px;
	height: 40px;
	font-size: 12px;
	color: #ea6d65;
	border: 1px solid #ea6d65;
	margin: 28px auto 22px;
	line-height: 40px;
	text-align: center;
}
.login-button-group {
	width: 264px;
	height: 42px;
	margin: 0 auto;
	margin-bottom: 31px;
}
.button-group-btn1, .button-group-btn2 {
	width: 120px;
	height: 42px;
	margin-right: 12px;
	font-size: 15px;
	color: #fff;
	line-height: 42px;
	text-align: center;
	float: left;
}
.button-group-btn1 {
	background-color: #c9c9cd;
}
.button-group-btn2 {
	background-color: #ea6d65;
}
/*登录*/
/*注册*/
.register-content {
	width: 980px;
	height: 320px;
	background-color: #f2f2f2;
	margin: 0 auto;
}
.register-content-add {
	width: 610px;
	height: 40px;
	padding-top: 30px;
	margin: 0 auto;
}
.register-phone {
	width: 300px;
	height: 40px;
	margin-right: 10px;
	position: relative;
	float: left;
}
.register-content-add-input1, .register-content-add-input2 {
	width: 278px;
	height: 40px;
	padding-left: 20px;
	border: 1px solid #e6e6e7;
	line-height: 40px;
	font-size: 12px;
	color: #808285;
}
.require-number {
	width: 90px;
	height: 30px;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 204px;
	top: 1px;
	background-color: #ea6d65;
	line-height: 30px;
	text-align: center;
}
.register-content-add-input2 {
	float: left;
}
.register-content-tip, .login-content-tip-other {
	width: 610px;
	padding-top: 10px;
	margin: 0 auto;
}
.register-content-tip-p1, .register-content-tip-p2 {
	font-size: 12px;
	color: #808285;
	float: left;
}
.register-content-tip-p1 {
	margin-right: 68px;
}
.register-content-add-other {
	width: 610px;
	height: 40px;
	margin: 0px auto;
	margin-top: 10px;
	padding-top: 18px;
}
.register-content-add-other-input1, .register-content-add-other-input2 {
	width: 278px;
	height: 40px;
	margin-right: 10px;
	font-size: 12px;
	color: #808285;
	padding-left: 20px;
	border: 1px solid #e6e6e7;
	float: left;
}
.register-content-add-other-input2 {
	width: 160px;
}
.register-content-add-other-input3 {
	float: left;
	width: 88px;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	color: #808285;
	background-color: #e6e6e7;
	padding-left: 20px;
}
.login-content-tip-other-p1 {
	text-decoration: none;
	float: left;
	margin-right: 168px;
	color: #808285;
}
.login-content-tip-other-p2 {
	text-decoration: none;
	float: left;
	color: #808285;
}
.register-succeed {
	width: 982px;
	height: 128px;
	background-color: #ea6d65;
	font-size: 15px;
	color: #fff;
	line-height: 128px;
	text-align: center;
	margin-top: 45px;
}
/*注册*/
/*弹出层*/
/*中间轮播图片*/
.box-Img1-bg {
	width: 100%;
	height: 500px;
	background-color: #231d1d;
}
.box-Img1 {
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	background-image: url(../images/img-index-headpic.jpg);
}
/*中间轮播图片头部内容*/
.box-Img1-Top {
	float: left;
	clear: both;
	height: 0px;
	margin-left: 102px;
	display: inline;
}
/*侧边栏按钮*/
.slide-menu {
	z-index: 1;
	position: absolute;
	width: 170px;
	height: 38px;
	background-color: #66cc33;
	border-bottom: solid #0e0c0c 1px;
}
.slide-menu-button {
	font-size: 15px;
	color: #fff;
	line-height: 38px;
	margin-left: 50px;
}
.slide-menu-button img {
	width: 11px;
	height: 6px;
	margin-top: 18px;
	margin-left: 3px;
}
/*侧边栏按钮结束*/
/*侧边栏二级菜单*/
.big-box {
	height: 360px;
	width: 256px;
	margin-top: 40px;
}
#box-ul {
	width: 170px;
	height: 365px;
	float: left;
	display: none;
	_margin-top: 40px;
}
#box-out {
	width: 170px;
	height: 365px;
}
#box-out li {
	width: 170px;
	height: 72px;
	line-height: 72px;
	cursor: pointer;
	list-style: none;
	background-color: #ffffff;
	text-align: center;
	font-size: 14px;
	color: #666666;
}
#box-out li img {
	margin-right: 20px;
	_margin-top: 26px;
}
.item-position {
	position: relative;
}
.item-positon-img {
	width: 22px;
	height: 9px;
	position: absolute;
	top: 25px;
	_top: 0px;
}
#box-ul div {
	display: none;
}
.li-ul1 {
	width: 86px;
	height: 360px;
	cursor: pointer;
	background: #989898;
	float: left;
	display: none;
	_margin-top: 40px;
}
.li-ul1 li {
	text-align: center;
	list-style: none;
	margin-top: 26px;
	font-size: 12px;
	color: #ffffff;
}
/*侧边栏二级菜单结束*/
/*中间轮播图片头部内容结束*/
/*中间轮播图片中间内容*/
.box-Img1-totle1 {
	width: 1200px;
	margin: 0 auto;
}
.box-Img1-totle2 {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.box-Img1-Middle {
	float: right;
	width: 330px;
	_width: 330px;
	margin-top: 125px;
	margin-right: 134px;
	z-index: 1;
	display: inline;
}
.xxc-title {
	color: #ffffff;
	font-size: 31px;
	font-weight: bold;
	margin-bottom: 13px;
	letter-spacing: 1px;
}
.xxc-content {
	font-size: 14px;
	color: #66cc33;
	text-align: center;
	letter-spacing: 1px;
	line-height: 15px;
	font-weight: lighter;
}
.xxc-content-line1 {
	margin-bottom: 9px;
}
.box-Img1-Middle button {
	width: 130px;
	height: 35px;
	background-color: #585757;
	border: none;
	margin-left: 90px;
	margin-top: 25px;
}
.box-Img1-Middle button span {
	font-size: 13px;
	color: #ffffff;
}
/*中间轮播图片中间内容结束*/
/*中间轮播图片底部内容*/
.box-Img1-Bottom {
	width: 100%;
	height: 100px;
	_height: 100px;
	_overflow: hidden;
	background-color: #241A19;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 1;
	position: absolute;
	margin-top: -100px;
}
.search-middle {
	margin: 0 auto;
	position: relative;
	width: 982px;
}
.search {
	width: 776px;
	margin-top: -74px;
	position: absolute;
	z-index: 9;
	left: 100px;
}
.input-coruse {
	width: 362px;
	height: 38px;
	margin-right: -4px;
	border: solid 1px #cccccc;
	color: #b3b3b3;
	background-color: #ffffff;
	font-size: 16px;
	padding-left: 20px;
	line-height: 38px;
}
.input-position {
	width: 256px;
	height: 38px;
	margin-right: -4px;
	border: solid 1px #cccccc;
	color: #b3b3b3;
	background-color: #ffffff;
	font-size: 16px;
	padding-left: 20px;
	line-height: 38px;
	_margin-right: 0px;
}
.search button {
	width: 118px;
	height: 40px;
	border: none;
	background-color: #66cc33;
	color: #000;
	position: absolute;
	_margin-top: 1px;
}
.search span {
	font-size: 13px;
	color: #000;
}
.hot-course {
	margin-top: 3px;
}
.list-group-item {
	border: none;
	background-color: none;
}
.hot-course .list-group {
	margin: 2px 0px 0px;
}
.hot-course li {
	color: #66cc33;
	font-size: 12px;
	margin-right: 12px;
	padding: 2px 4px;
}
/*中间轮播图片底部内容结束*/
/*中间轮播图片结束*/
/*王雯洁*/
/* 宁家伟 */
.box-type-out {
	width: 100%;
	background-color: #e5e5e5;
}
.box-type-in {
	width: 982px;
	margin: 0 auto;
}
.all-type-box {
	height: 300px;
	width: 300px;
	float: left;
}
.all-type-mid {
	margin: 0 41px;
}
.all-type-img {
	width: 300px;
	height: 180px;
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
}
.all-type-intro {
	width: 300px;
	height: 120px;
	background-color: #FFFFFF;
}
.all-type-title {
	height: 40px;
	margin: 33px auto 0;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #808080;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.all-type-cont {
	height: 27px;
	line-height: 20px;
	color: #808080;
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	margin-top: 10px;
}
.heart {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 248px;
	background-image: url(../images/icon_favorites-01.png);
}
.heart:hover {
	background-image: url(../images/icon_favorites-02.png);
}
.life-box {
	width: 982px;
	height: 300px;
}
.light-price {
	height: 40px;
	width: 180px;
	position: absolute;
	background-image: url(../images/light-price.png);
	top: 140px;
	left: 120px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.begin {
	width: 300px;
	height: 35px;
}
.begin-prompt {
	width: 150px;
	height: 35px;
	float: left;
	line-height: 35px;
	font-size: 17px;
	padding-left: 15px;
	margin-top: 2px;
	font-weight: lighter;
}
.begin-style {
	width: 40px;
	height: 35px;
	float: right;
	line-height: 35px;
	font-size: 12px;
	color: #808080;
	margin-top: 2px;
}
.class-name {
	width: 150px;
	height: 17px;
	float: left;
	line-height: 17px;
	font-size: 17px;
	padding-left: 15px;
	margin-top: 2px;
	font-weight: lighter;
	margin-top: 12px;
	display: inline-block;
}
.class-type {
	font-size: 12px;
	height: 12px;
	color: #808080;
	clear: both;
	margin-top: 5px;
}
.information {
	width: 285px;
	height: 40px;
	margin-top: 10px;
	line-height: 30px;
	padding-left: 15px;
}
.lesson-information {
	width: 285px;
	height: 40px;
	margin-top: 20px;
	line-height: 30px;
}
.information-img {
	float: left;
	height: 40px;
}
.lesson-information-cont {
	float: left;
	margin-top: 10px;
}
.information-cont {
	float: left;
	margin-top: 5px;
}
.browse {
	width: 285px;
	height: 35px;
	_height: 20px;
	margin-left: 15px;
	line-height: 35px;
	color: #8e8e8e;
	font-size: 13px;
	_margin-top: 7px;
}
.lesson-browse {
	height: 35px;
	line-height: 35px;
	color: #8e8e8e;
	font-size: 13px;
	float: right;
	margin-right: 25px;
	margin-top: 9px;
	_margin-top: 15px;
	display: inline;
}
.browse-img-left {
	margin-right: 4px;
}
.browse-img-right {
	margin-right: 4px;
	margin-left: 10px;
}
.teacher {
	color: #808080;
	font-size: 13px;
	margin-left: 5px;
	margin-right: 10px;
}
.publish {
	font-size: 13px;
	font-weight: bold;
}
.box-type-more {
	height: 90px;
	width: 982px;
	margin: 0 auto;
	display: inline-block;
}
.more {
	width: 100px;
	height: 30px;
	margin: 33px auto 0;
}
#more-btn {
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: #999 1px solid;
	color: #666;
	cursor: pointer;
}
#box-type-more-all {
	width: 982px;
	height: 200px;
	display: none;
}
.box-more-type-title {
	height: 40px;
	width: 100%;
	margin-top: 30px;
	line-height: 40px;
	font-size: 25px;
	font-weight: bold;
	color: #8e8e8e;
	display: inline-block;
}
.box-more-type-cont {
	width: 982px;
	height: 100px;
	display: inline-block;
}
.box-more-type-cont li {
	width: 56px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
	color: #8e8e8e;
	list-style: none;
	margin-right: 20px;
	font-size: 13px;
}
.box-play-bg {
	width: 100%;
	height: 500px;
	background-color: #C2BBA9;
	display: inline-block;
}
.box-play-out {
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	background-image: url(../images/img-makeup.jpg);
}
.box-play {
	width: 982px;
	height: 500px;
	margin: 0 auto;
	background-image: url(../images/img-makeup.jpg);
}
.play-cont {
	width: 350px;
	height: 250px;
	margin-left: 555px;
	margin-top: 130px;
	position: relative;
	display: inline-block
}
.play-cont-box {
	width: 350px;
	height: 71px;
}
.play-title {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #666;
}
.play-cont-cont {
	color: #555;
	font-size: 14px;
	font-weight: lighter;
	margin-top: 16px;
}
.play-btn {
	width: 90px;
	height: 90px;
	margin-left: 120px;
	background-image: url(../images/play-btn.png);
	margin-top: 20px;
}
.play-btn:hover {
	background-image: url(../images/play-btn2.png);
}
.play-more {
	width: 170px;
	height: 30px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background-color: #666;
	margin: 30px auto 0;
}
.play-more-font {
	height: 25px;
	width: 100px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	position: absolute;
	top: 212px;
	_top: 223px;
	left: 120px;
	font-size: 14px;
	_margin-top: -8px;
}
/*宁家伟*/
/*王枫*/
.content {
	width: 100%;
}
.merit {
	width: 982px;
	height: 330px;
	margin: 0 auto;
	background: #fff;
}
.merit_title {
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 28px;
	color: #808080;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.merit_small {
	border-bottom: 1px #b2b2b2 solid;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 200;
	font-style: normal;
}
.merit ul {
	width: 982px;
	list-style: none;
	padding-left: 0px;
	font-family: "Microsoft YaHei";
	color: #7f7f7f;
}
.merit li {
	width: 130px;
	float: left;
	margin-right: 40px;
	font-size: 12px;
	letter-spacing: .9px;
}
.merit li:last-child {
	margin-right: 0px;
}
.merit span {
	width: 130px;
	text-align: center;
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
	color: #808080;
	font-weight: 600;
}
.community {
	width: 100%;
	height: 450px;
	background: #f1f1f1;
}
.community_title {
	height: 110px;
	line-height: 110px;
	text-align: center;
	font-size: 28px;
	color: #808080;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.community_pic {
	width: 1140px;
	margin: 0 auto;
	height: 300px;
}
.community_pic {
	width: 1140px;
	margin: 0 auto;
	height: 300px;
}
.community_pic li {
	width: 252px;
	list-style: none;
	float: left;
	margin-right: 44px;
	_margin-right: 33px;
	margin-right\0: 33px;
	height: 300px;
}
.community_pic_p {
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 42px;
}
.community_tit {
	width: 100px;
	margin-left: 150px;
	margin-top: 120px;
	height: 70px;
}
.community_tit h1 {
	font-family: "Microsoft YaHei";
	font-size: 18.75pt;
	font-weight: bold;
	color: #fff;
}
.community_tit p {
	font-size: 12px;
	color: #fff;
	letter-spacing: 2px;
}
.community_pic1 {
	background-image: url(../images/img-public-course.jpg);
}
.community_pic2 {
	background-image: url(../images/img-teacher-view.jpg);
}
.community_pic3 {
	background-image: url(../images/img-friend-circle.jpg);
}
.community_pic4 {
	background-image: url(../images/img-mother-view.jpg);
	margin-right: 0px;
}
.community_pic li:last-child {
	margin-right: 0px;
}
.flow {
	width: 982px;
	height: 360px;
	margin: 0 auto;
	background: #fff;
}
.flow_title {
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 28px;
	color: #808080;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.flow_small {
	border-bottom: 1px #b2b2b2 solid;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 200;
	font-style: normal;
}
.flow ul {
	width: 982px;
	padding-left: 0px;
	font-family: "Microsoft YaHei";
	color: #7f7f7f;
}
.flow li {
	width: 131px;
	float: left;
	list-style-image: url(../images/icon-arrow-right-gray.png);
	margin-left: 39px;
	font-size: 12px;
	letter-spacing: .9px;
}
.flow li:first-child {
	margin-left: 0px;
	list-style: none;
}
.flow span {
	width: 100px;
	height: 100px;
	display: block;
	background-image: url(../images/circle.png);
	border-radius: 50px;
	text-align: center;
	line-height: 100px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	margin: 0 auto;
	margin-bottom: 10px;
}
.p_coin {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #000;
}
.p_coin a {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #000;
}
.footer {
	width: 100%;
	border-top: 1px solid #999;
	background: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.foot {
	height: 240px;
	width: 982px;
	margin: 40px auto 0;
}
.footLeft {
	width: 538px;
	float: left;
	margin-left: 13px;
}
.footRight {
	width: 183px;
	float: left;
	margin-left: 235px;
	text-align: right;
}
.foot_list li {
	width: 79px;
	_width: 100px;
	float: left;
	margin-right: 71px;
	_margin-right: 40px;
	list-style: none;
	text-align: center;
}
.foot_insideList {
	font-size: 12px;
	font-family: "SimHei";
}
.foot_insideList dt {
	height: 40px;
	list-style: none;
}
.foot_insideList dt:first-child a {
	font-size: 14px;
	color: #4d4d4d;
	font-weight: 800;
}
.foot_insideList a {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #4c4c4c;
}
.foot_phone {
	font-size: 24px;
	font-weight: 500;
}
.foot_mail {
	font-size: 12px;
	color: #666;
	letter-spacing: .7px;
}
.foot_mail a {
	font-size: 12px;
	color: #666;
}
.form_input1 {
	float: left;
}
.form_input2 {
	float: left;
}
.form-group {
	width: 760px;
	height: 40px;
}
/*王枫*/
