.indent_tab {
	width: 480px;
	float: right;
	height: 40px;
	margin: 10px 0;
}
.indent_tab li {
	width: 80px;
	float: left;
	line-height: 40px;
	text-align: center;
}
.Vip_teacher_stock tr {
	height: 50px;
}
.Vip_teacher_stock {
	font-size: 14px;
	font-family: "Microsoft YaHei";
	margin-top: 20px;
	margin-bottom: 20px;
}
.indent_tr1 {
	font-weight: 500;
	height: 49px;
	width: 982px;
}
.indent_title_Icon {
	width: 60px;
	text-align: center;
	border-bottom: 1px solid #329ace;
}
.indent_Icon {
	width: 60px;
	text-align: center;
}
.indent_Icon span {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: #ccc;
	margin: 5px 10px;
}
.indent_title1 {
	width: 226px;
	text-align: left;
	border-bottom: 1px solid #329ace;
}
.indent_title2 {
	width: 115px;
	text-align: left;
	border-bottom: 1px solid #329ace;
}
.indent_title3 {
	width: 62px;
	text-align: left;
	border-bottom: 1px solid #329ace;
}
.indent_title4 {
	width: 103px;
	text-align: right;
	border-bottom: 1px solid #329ace;
}
.indent_title5 {
	width: 153px;
	text-align: left;
	padding-left: 60px;
	border-bottom: 1px solid #329ace;
}
.indent_title6 {
	width: 74px;
	text-align: left;
	border-bottom: 1px solid #329ace;
}
.indent_title7 {
	width: 129px;
	text-align: right;
	border-bottom: 1px solid #329ace;
}
.indent_text1 {
	width: 224px;
	text-align: left;
}
.indent_text2 {
	width: 115px;
	text-align: left;
}
.indent_text3 {
	width: 61px;
	text-align: left;
}
.indent_text4 {
	width: 101px;
	text-align: right;
}
.indent_text5 {
	width: 153px;
	text-align: left;
	padding-left: 60px;
}
.indent_text6 {
	width: 74px;
	text-align: left;
}
.indent_text7 {
	width: 136px;
	text-align: right;
 font-weight: :700;
}
.list_blue {
	color: #329ace;
}
.list_text8 {
	width: 148px;
	text-align: right;
}
.list_red {
	color: #ea6f65;
}
.list_black {
	color: #58595b;
}
.list_agree {
	width: 136px;
	height: 40px;
	margin-right: 0px;
	background: #ea6f65;
	color: #fff;
	font-size: 15px;
	font-family: "Microsoft YaHei";
}
.list_agree2 {
	width: 60px;
	height: 40px;
	background: #ea6f65;
	color: #fff;
	font-size: 15px;
	font-family: "Microsoft YaHei";
}
.Vip_teacher_total {
	width: 100%;
	float: right;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 14px;
	letter-spacing: 1px;
}
.Vip_teacher_total span {
	font-size: 28px;
	padding-right: 3px;
}
.list_reject {
	height: 40px;
	width: 60px;
	background: #c9c9ca;
	color: #fff;
	font-size: 15px;
	font-family: "Microsoft YaHei";
}
